:host {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pencil-icon {
  transform: scale(0.9);
}

.blink {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
